.site-header{
    > div{
    	 
			> div{
				padding-top: 15px;
				&:first-child{
					background-color: $color-secundario;
					padding-left: 20px;
					padding-bottom: 30px;
					@include from(360px){	
						padding-left: 25px; 
					}
					@include from(m){	 
						padding-bottom: 50px;
					}
				}
				.txtright{
					position: absolute;
					padding: 10px 20px 0 0;
					top: 0;
					right: 0;
					@include from(360px){	
						padding: 12px 25px 0 0;
					}
					@include from(l){	
						position: initial;
						padding: 12px 0 0 0;
					}
				}
			}
    }
}
.logo{
	position: relative;
	z-index: 2;
	padding-left: 20px;
	@include from(m){	
		padding-left: 25px;
	}
	.img-logo{ 
		width: 130px;
		height: 90px;
		background: transparent url('../img/logo-mobile.svg') no-repeat 0 center;
		@include from(360px){			
			width: 170px;
			height: 107px;			
		} 
		@include from(m){	
			width: 170px;
			height: 115px;			
			background-image: url('../img/logo-mobile.svg');  
		} 
	}
}