@charset "UTF-8";

// ----------------------
// == Site settings
// ----------------------

// Html 5 Element
$audio-canvas-video: false; // True | False 

@include fontFace('gravity-light', 'gravity', 'Gravity-Light', "normal", "normal");
//@include fontFace('gravity-medium', 'gravity', 'Gravity Medium', "normal", "normal");
@include fontFace('gravity-book', 'gravity', 'Gravity-Book', "normal", "normal");
//@include fontFace('gravity-black', 'gravity', 'Gravity-Black', "normal", "normal");
@include fontFace('gravity-bold', 'gravity', 'Gravity-Bold', "normal", "normal");
@include fontFace('gravity-regular', 'gravity', 'Gravity-Regular', "normal", "normal");

 

// = Colors 
$color-primario: #97B23C; 
$color-secundario: #585550; 
$color-terciario: #9bc3e9; 
$color-text: $color-secundario; 
$color-menu: $color-secundario;
$place-holder: #8b8b8b;
$color-gray-light: #c3bfb4;
/*
$verde-agua: #3a6a5d;
$gris: #6d6d6d;
$gris-claro: #beb8b1;
*/

// = Grid
// -----------------------------

// Max width wrapper
 

// = Responsive
$mobile_slider: 800px;
$tablet: 768px;
// -----------------------------
 